<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url( '{{ include.image }}' )"></div>
      <ul class="details">
        <li class="author"><a href="#">{{ include.author }}</a></li>
        <li class="date">{{ include.date }}</li>
        <li class="location"><a href="https://www.smf.phy.cam.ac.uk/">{{ include.location }}</a></li>
        <li class="location"><a href="https://www.phy.cam.ac.uk/">Department of Physics</a></li>
        <li class="location"><a href="https://www.cam.ac.uk/">University of Cambridge</a></li>
        <br>
        
      </ul>
    </div>
    <div class="description">
      <h1>{{ include.title }}</h1>
      <h2>{{ include.subtitle }}</h2>
      <p>{{ include.description }}</p>
      <p class="read-more">
        <a href="{{ include.url }}">Read More</a>
      </p>
    </div>
  </div>