<div class="blog-card"><a href="{{ include.url }}">
    <div class="meta">
      <div class="photo" style="background-image: url( '{{ include.image }}' )"></div>
      <ul class="details">
        <li class="author"><a href="#">{{ include.author }}</a></li>
        <li class="date">{{ include.date }}</li>
        <li class="location"><a href="{{ include.location1url }}">{{ include.location1 }}</a></li>
        <li class="location"><a href="{{ include.location2url }}">{{ include.location2 }}</a></li>
        <li class="location"><a href="{{ include.location3url }}">{{ include.location3 }}</a></li>
        <br>
      </ul>
    </div>
    <div class="description">
      <h1><a href="{{ include.url }}">{{ include.title }}</a></h1>
      <h2>{{ include.subtitle }}</h2>
      <p>{{ include.description }}</p>
      <p class="read-more">
        <a href="{{ include.url }}">Read More</a>
      </p>
    </div>
  </a></div>